.landing-background {
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dx8jjuurn/image/upload/v1581444345/Untitled_design_2_tf3p7e.png");
  background-position: center;
  background-size: cover;
}

.landing-header {
  font-family: "Merriweather", serif;
}
