* {
  margin: 0;
  padding: 0%;
}
#header-paper {
  background-color: rgba(300, 300, 300, 0.35);
}

a {
  text-decoration: none;
  color: #182141;
  font-weight: 600;
}

.header-home {
  margin-left: 5%;
}

.header-explore {
  // height: 50vh;
  width: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
}

#home-button {
  font-size: 1.15rem;
}

#explore {
  font-size: 1.15rem;
}

#quiz {
  font-size: 1.15rem;
}
