
.map{
  height: 70vh;
  width: 100vw;
  transition: 1000ms;
  /* padding: 0px 25vw; */

}

.state{
  stroke: black;
  fill: white;
}

/* .county{
  stroke: black;
  fill: white;
  
} */

.state:hover{
  stroke: black;
  stroke-width: 3px;
}