
.map{
  height: 70vh;
  width: 100vw;
  transition: 1000ms;
  /* padding: 0px 25vw; */

}

.county-map{
  height: 70vh;
  width: 100%;
}

.state{
  stroke: black;
  fill: white;
}

.no-display{
  display: none;
}



.county{
  stroke: black;
  fill: white;
  
}

.state:hover{
  stroke: black;
  stroke-width: 3px;
}